.panel-group .panel {
    border-radius: 8px;
}

.panel-default>.panel-heading {
    background-color:#f47920;
    color:#fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.panel-heading:hover {
  background-color:#bd5e18;
}

.panel-default>.panel-inner {
    border-radius:7px;
}

.panel-default {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

button, html input[type="submit"] {
    background-color:#f47920;
    color:#fff;
    border-radius: 7px;
    border: 0.5px solid;
    border-color:#d6691b;
    width: 49.8%;
}

button, html input[type="submit"]:hover {
    background-color:#d6691b;
    border-color:#c66119;
}

button, html input[type="button"] {
    background-color:#d9534f;
    color:#fff;
    border-radius: 7px;
    border: 0.5px solid;
    width: 49.8%;
    border-color:#d43f3a
}

button, html input[type="button"]:hover {
    background-color:#d2322d;
    border-color:#ac2925;
}

textarea {
    width:100%;
}